<ul class="position-list">
    <li class="item">
        <img class="item-logo fl" src="../image/company-3.png" alt="">
        <h3 class="item-title">销售</h3>
        <p class="item-text">
            前度[上海]<br/>
            2018-01-02 12:40:03
        </p>
    </li>
    <li class="item" ng-repeat="item in data">
        <img class="item-logo fl" ng-src='../{{item.imgSrc}}' alt="">
        <h3 class="item-title" ng-bind="item.name">销售</h3>
        <p class="item-text" ng-bind='item.companyName+"["+item.industry+"]"'>
        </p>
        <p class="item-text" ng-bind="item.time"></p>
    </li>
</ul>